/* CSS */
.color-1 {
  color: #f7a1b2;
}
.color-2 {
  color: #f6c6d7;
}
.color-3 {
  color: #f4e1e6;
}
.color-4 {
  color: #e3c8e4;
}
.color-5 {
  color: #d2a8d6;
}

/* CSS Variables */
:root {
  --color-1: #f7a1b2;
  --color-2: #f6c6d7;
  --color-3: #f4e1e6;
  --color-4: #e3c8e4;
  --color-5: #d2a8d6;
}